<h1>Restaurant</h1>

<%# Always need @ to have the object activated %>
<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<%# create a rating and review form here! %>
 <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

<%= link_to "Go back to restaurants", restaurants_path,  class: 'btn btn-primary' %>
